<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Game list</h1>
    </header>
    <section id="events">
      <h2>Games I have played</h2>
      <input type="text" id="game" v-model="enteredGame" />
      <button v-on:click="addGame(16)">Add</button>
      <button v-on:click="removeGame(16)">Remove</button>
      
      <p v-for="game in playedgames">{{ game }} 
      </p>
      <p>Result: Total hours played {{ counter }}</p>
      <!-- When we add and event listener and then point to a funtion that should be executed when the event occurs. That function will automatically get one argument. The browser will make sure the argument is provided. That will be an object describing the event has occured. -->
      <input type = "text" v-on:input="setName($event,'3:The best game still')">
      <!-- Notice in the above line we don't put parantheses after providing the method name. This suggests we are just pointing to the object and letting the browser choose what should be the argument -->
       <p> Enter Witcher and see the magic: {{myname}} </p>
    </section>
  </body>
</html>
