<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Game list</h1>
    </header>
    <section id="events">
      <h2>Games I have played</h2>
      <input type="text" id="game" v-model="enteredGame" />
      <button v-on:click="addGame()">Add</button>
      <button v-on:click="removeGame()">Remove</button>
      
      <p>
        <li v-for="game in playedgames">{{ game }}</li>
      </p>
      <p>Result: Total games played {{ counter }}</p>
    </section>
  </body>
</html>
